<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History reservations</title>
    <link rel="stylesheet" href="../public/css/styleHistory.css">
</head>
<body>
    <!-- Insertando el navbar -->
    <%- include("../views/partials/navbar.ejs") %>

    <section id="history-section" class="section active">
        <div class="reservations">
            <div class="futureReservations">
                <span class="futureReservations-title">Future reservations</span>
                
                <!-- Mostrando todas las reservas futuras asociadas al usuario-->
                <% if(futureReservations.length !== 0){%>
                    <% futureReservations.forEach(reserv =>{ %>
                        <span class="secondTitle">Gestiona tus reservas</span>
                        <div class="futureReservation">
                            <div class="reservationDate">
                                <div class="divDateTime">
                                    <div class="datetime"> 
                                        <img src="../public/imgs/historial/icons8-calendario-96.png" alt="">
                                        <span>Fecha</span>
                                    </div>
                                    <span class="white"> <%- reserv.fecha_reserva.toISOString().split("T")[0] %>  </span>
                                </div>
                                <div class="divDateTime">
                                    <div class="datetime"> 
                                        <img src="../public/imgs/historial/icons8-reloj-150 (1).png" alt="">
                                        <span>Hora</span>
                                    </div>
                                    <span class="white"> <%- reserv.hora_reserva %>  </span>
                                </div>
                            </div>
                            <div class="tableReserved">
                                <span class="tableTitle">Table reserved</span>
                                <span class="white"> <%- reserv.id_mesa_reserva %>  </span>
                            </div>
                            <div class="saucer">
                                <span class="saucerTitle">Requested saucer</span>
                                <span class="white"> <%- reserv.nombre_entrada %> </span>
                            </div>
                            <button class="btn">
                                <img src="../public/imgs/historial/icons8-x-96.png" alt="img cancelar" class="img-cancelar" />
                                Cancel reservation
                            </button>
                        </div>
                    <% }) %>
                <% }else{ %>
                    <!-- Mostrando mensaje de que el usuario no tiene reservas -->
                    <h3>No tienes ninguna reserva creada en este momento</h3>
                <%} %>               

            </div> 
            <div class="pastReservations">
                <span class="pastReservations-title">Past reservations</span>

                <!-- Mostrando reservas pasadas asociadas al usuario -->
                <% if(pastReservations.length !== 0){%>
                    <% pastReservations.forEach((reserv) =>{ %>
                        <div class="futureReservation">
                            <div class="reservationDate">
                                <div class="divDateTime">
                                    <div class="datetime"> 
                                        <img src="../public/imgs/historial/icons8-calendario-96.png" alt="">
                                        <span>Fecha</span>
                                    </div>
                                    <span class="white"> <%- reserv.fecha_reserva.toISOString().split("T")[0] %> </span>
                                </div>
                                <div class="divDateTime">
                                    <div class="datetime"> 
                                        <img src="../public/imgs/historial/icons8-reloj-150 (1).png" alt="">
                                        <span>Hora</span>
                                    </div>
                                    <span class="white"> <%- reserv.hora_reserva %> </span>
                                </div>
                            </div>
                            <div class="tableReserved">
                                <span class="tableTitle">Table reserved</span>
                                <span class="white"> <%- reserv.id_mesa_reserva %> </span>
                            </div>
                            <div class="saucer">
                                <span class="saucerTitle">Requested saucer</span>
                                <span class="white"> <%- reserv.nombre_entrada%>  </span>
                            </div>
                        </div> 
                    <% }) %>
                <% }else{ %>
                    <!-- Mostrando mensaje de que el usuario no tiene reservas -->
                    <h3>No tienes ninguna reservas pasadas</h3>
                <%} %>
 
            </div>
        </div>
    </section>
    <script src="../public/js/history.js"></script>
</body>
</html>





